USE [master]
GO
/****** Object:  Database [certain_shop]    Script Date: 17-Apr-26 10:41:03 PM ******/
CREATE DATABASE [certain_shop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'certain_shop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\certain_shop.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'certain_shop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\certain_shop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [certain_shop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [certain_shop]
GO
/****** Object:  Table [dbo].[BienThe]    Script Date: 17-Apr-26 10:41:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BienThe](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[SanPhamId] [bigint] NOT NULL,
	[KichThuocId] [bigint] NULL,
	[MauSacId] [bigint] NULL,
	[ChatLieuId] [bigint] NULL,
	[GiaBan] [decimal](18, 2) NULL,
	[SoLuongTon] [int] NOT NULL,
	[MacDinh] [bit] NOT NULL,
	[TrangThai] [bit] NOT NULL,
	[ThoiGianTao] [datetime] NOT NULL,
	[ThoiGianCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatLieu]    Script Date: 17-Apr-26 10:41:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatLieu](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TenChatLieu] [nvarchar](150) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 17-Apr-26 10:41:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DonHangId] [bigint] NOT NULL,
	[BienTheId] [bigint] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaTaiThoiDiemMua] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGia]    Script Date: 17-Apr-26 10:41:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGia](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[SanPhamId] [bigint] NOT NULL,
	[NguoiDungId] [bigint] NOT NULL,
	[ChiTietDonHangId] [bigint] NULL,
	[DiemDanhGia] [int] NOT NULL,
	[TieuDe] [nvarchar](255) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[HinhAnh] [varchar](500) NULL,
	[TrangThai] [bit] NOT NULL,
	[ThoiGianTao] [datetime] NOT NULL,
	[ThoiGianCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 17-Apr-26 10:41:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](150) NOT NULL,
	[DuongDan] [varchar](255) NULL,
	[MoTa] [nvarchar](500) NULL,
	[ThuTuHienThi] [int] NOT NULL,
	[DangHoatDong] [bit] NOT NULL,
	[ThoiGianTao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiaChiNguoiDung]    Script Date: 17-Apr-26 10:41:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaChiNguoiDung](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[NguoiDungId] [bigint] NOT NULL,
	[TenNguoiNhan] [nvarchar](150) NULL,
	[SoDienThoai] [varchar](20) NULL,
	[DiaChiCuThe] [nvarchar](500) NULL,
	[PhuongXa] [nvarchar](150) NULL,
	[QuanHuyen] [nvarchar](150) NULL,
	[TinhThanh] [nvarchar](150) NULL,
	[MaTinhGHN] [int] NULL,
	[MaHuyenGHN] [int] NULL,
	[MaXaGHN] [nvarchar](50) NULL,
	[LaMacDinh] [bit] NOT NULL,
	[ThoiGianTao] [datetime] NOT NULL,
	[ThoiGianCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 17-Apr-26 10:41:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[NguoiDungId] [bigint] NULL,
	[NhanVienId] [bigint] NULL,
	[MaDonHang] [varchar](50) NOT NULL,
	[LoaiDonHang] [varchar](30) NOT NULL,
	[TrangThaiDonHang] [varchar](50) NOT NULL,
	[TongTienHang] [decimal](18, 2) NULL,
	[SoTienGiamGia] [decimal](18, 2) NOT NULL,
	[PhiVanChuyen] [decimal](18, 2) NOT NULL,
	[TongTienThanhToan] [decimal](18, 2) NOT NULL,
	[KhuyenMaiId] [bigint] NULL,
	[TenNguoiNhan] [nvarchar](150) NULL,
	[SdtNguoiNhan] [varchar](20) NULL,
	[DiaChiGiaoHang] [nvarchar](500) NULL,
	[MaTinhGHN] [int] NULL,
	[MaHuyenGHN] [int] NULL,
	[MaXaGHN] [nvarchar](50) NULL,
	[PhuongThucThanhToan] [varchar](50) NULL,
	[DaThanhToan] [bit] NOT NULL,
	[VnpayTxnRef] [varchar](100) NULL,
	[VnpayResponseCode] [varchar](10) NULL,
	[ThoiGianTuHuy] [datetime] NULL,
	[GhiChu] [nvarchar](500) NULL,
	[GhiChuThuNgan] [nvarchar](500) NULL,
	[ThoiGianTao] [datetime] NOT NULL,
	[ThoiGianCapNhat] [datetime] NULL,
	[VoucherId] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 17-Apr-26 10:41:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[NguoiDungId] [bigint] NOT NULL,
	[ThoiGianTao] [datetime] NOT NULL,
	[ThoiGianCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHangChiTiet]    Script Date: 17-Apr-26 10:41:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHangChiTiet](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[GioHangId] [bigint] NOT NULL,
	[BienTheId] [bigint] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NULL,
	[ThoiGianTao] [datetime] NOT NULL,
	[ThoiGianCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhAnhBienThe]    Script Date: 17-Apr-26 10:41:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhAnhBienThe](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[BienTheId] [bigint] NOT NULL,
	[DuongDan] [varchar](500) NOT NULL,
	[LaAnhChinh] [bit] NOT NULL,
	[ThuTu] [int] NOT NULL,
	[MoTa] [nvarchar](255) NULL,
	[ThoiGianTao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 17-Apr-26 10:41:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MaKhuyenMai] [varchar](50) NOT NULL,
	[TenKhuyenMai] [nvarchar](200) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
	[LoaiGiam] [varchar](20) NOT NULL,
	[GiaTriGiam] [decimal](18, 2) NOT NULL,
	[DonHangToiThieu] [decimal](18, 2) NOT NULL,
	[GiaTriToiDa] [decimal](18, 2) NULL,
	[SoLuongToiDa] [int] NULL,
	[SoLuongDaDung] [int] NOT NULL,
	[NgayBatDau] [datetime] NOT NULL,
	[NgayKetThuc] [datetime] NOT NULL,
	[TrangThaiKhuyenMai] [varchar](30) NOT NULL,
	[ThoiGianTao] [datetime] NOT NULL,
	[ThoiGianCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KichThuoc]    Script Date: 17-Apr-26 10:41:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KichThuoc](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TenKichThuoc] [varchar](50) NOT NULL,
	[ThuTu] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuTrangThaiDon]    Script Date: 17-Apr-26 10:41:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuTrangThaiDon](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DonHangId] [bigint] NOT NULL,
	[TrangThaiCu] [varchar](50) NULL,
	[TrangThaiMoi] [varchar](50) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NguoiThayDoiId] [bigint] NULL,
	[ThoiGian] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MauSac]    Script Date: 17-Apr-26 10:41:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MauSac](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TenMauSac] [nvarchar](100) NOT NULL,
	[MaHex] [varchar](10) NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 17-Apr-26 10:41:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [varchar](100) NOT NULL,
	[Email] [varchar](150) NULL,
	[MatKhauMaHoa] [varchar](255) NOT NULL,
	[HoTen] [nvarchar](150) NULL,
	[SoDienThoai] [varchar](20) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [bit] NULL,
	[AnhDaiDien] [varchar](500) NULL,
	[VaiTroId] [int] NOT NULL,
	[TrangThai] [varchar](30) NOT NULL,
	[LanDangNhapCuoi] [datetime] NULL,
	[ThoiGianTao] [datetime] NOT NULL,
	[ThoiGianCapNhat] [datetime] NULL,
	[DangHoatDong] [bit] NULL,
	[MaDatLaiMatKhau] [varchar](255) NULL,
	[LanDoiMatKhauCuoi] [datetime] NULL,
	[ThoiGianHetHanDatLaiMK] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 17-Apr-26 10:41:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MaSanPham] [varchar](50) NULL,
	[TenSanPham] [nvarchar](255) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[GiaGoc] [decimal](18, 2) NULL,
	[GiaBan] [decimal](18, 2) NULL,
	[DanhMucId] [bigint] NULL,
	[ThuongHieuId] [bigint] NULL,
	[AnhChinh] [varchar](500) NULL,
	[DuongDan] [varchar](255) NULL,
	[TrangThaiSanPham] [varchar](30) NOT NULL,
	[ThoiGianTao] [datetime] NOT NULL,
	[ThoiGianCapNhat] [datetime] NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToan]    Script Date: 17-Apr-26 10:41:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToan](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DonHangId] [bigint] NOT NULL,
	[PhuongThucThanhToan] [varchar](50) NULL,
	[TrangThaiThanhToan] [varchar](50) NULL,
	[SoTienThanhToan] [decimal](18, 2) NULL,
	[ThoiDiemThanhToan] [datetime] NULL,
	[MaGiaoDichVNPay] [varchar](100) NULL,
	[MaNganHang] [varchar](50) NULL,
	[ThongTinGiaoDich] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuongHieu]    Script Date: 17-Apr-26 10:41:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuongHieu](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TenThuongHieu] [nvarchar](150) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
	[TrangThai] [bit] NOT NULL,
	[ThoiGianTao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTro]    Script Date: 17-Apr-26 10:41:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenVaiTro] [varchar](50) NOT NULL,
	[QuyenHan] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 17-Apr-26 10:41:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MaVoucher] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
	[TrangThai] [bit] NOT NULL,
	[NgayBatDau] [datetime] NOT NULL,
	[NgayKetThuc] [datetime] NOT NULL,
	[GiaTriToiThieu] [decimal](18, 2) NULL,
	[LoaiGiam] [nvarchar](10) NOT NULL,
	[GiaTriGiam] [decimal](18, 2) NOT NULL,
	[GiaTriGiamToiDa] [decimal](18, 2) NOT NULL,
	[SoLuongSuDung] [int] NOT NULL,
	[SoLuongToiDa] [int] NULL,
	[ThoiGianTao] [datetime] NOT NULL,
	[ThoiGianCapNhat] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BienThe] ON 

INSERT [dbo].[BienThe] ([Id], [SanPhamId], [KichThuocId], [MauSacId], [ChatLieuId], [GiaBan], [SoLuongTon], [MacDinh], [TrangThai], [ThoiGianTao], [ThoiGianCapNhat]) VALUES (61, 21, 4, 2, 3, CAST(100000.00 AS Decimal(18, 2)), 100, 0, 1, CAST(N'2026-03-20T20:59:40.367' AS DateTime), NULL)
INSERT [dbo].[BienThe] ([Id], [SanPhamId], [KichThuocId], [MauSacId], [ChatLieuId], [GiaBan], [SoLuongTon], [MacDinh], [TrangThai], [ThoiGianTao], [ThoiGianCapNhat]) VALUES (62, 21, 5, 2, 3, CAST(100000.00 AS Decimal(18, 2)), 100, 0, 1, CAST(N'2026-03-20T20:59:40.377' AS DateTime), NULL)
INSERT [dbo].[BienThe] ([Id], [SanPhamId], [KichThuocId], [MauSacId], [ChatLieuId], [GiaBan], [SoLuongTon], [MacDinh], [TrangThai], [ThoiGianTao], [ThoiGianCapNhat]) VALUES (64, 21, 4, 4, 3, CAST(100000.00 AS Decimal(18, 2)), 97, 1, 1, CAST(N'2026-03-20T21:18:52.600' AS DateTime), CAST(N'2026-03-22T22:16:07.807' AS DateTime))
SET IDENTITY_INSERT [dbo].[BienThe] OFF
GO
SET IDENTITY_INSERT [dbo].[ChatLieu] ON 

INSERT [dbo].[ChatLieu] ([Id], [TenChatLieu], [MoTa]) VALUES (1, N'Cotton 100%', N'Vải cotton tự nhiên thoáng mát')
INSERT [dbo].[ChatLieu] ([Id], [TenChatLieu], [MoTa]) VALUES (2, N'Cotton Polyester', N'Pha 65% cotton 35% poly')
INSERT [dbo].[ChatLieu] ([Id], [TenChatLieu], [MoTa]) VALUES (3, N'Polyester', N'Thoáng khô nhanh')
SET IDENTITY_INSERT [dbo].[ChatLieu] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietDonHang] ON 

INSERT [dbo].[ChiTietDonHang] ([Id], [DonHangId], [BienTheId], [SoLuong], [GiaTaiThoiDiemMua]) VALUES (32, 26, 73, 2, CAST(150000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietDonHang] ([Id], [DonHangId], [BienTheId], [SoLuong], [GiaTaiThoiDiemMua]) VALUES (33, 26, 64, 1, CAST(100000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietDonHang] ([Id], [DonHangId], [BienTheId], [SoLuong], [GiaTaiThoiDiemMua]) VALUES (34, 27, 65, 1, CAST(100000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ChiTietDonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([Id], [TenDanhMuc], [DuongDan], [MoTa], [ThuTuHienThi], [DangHoatDong], [ThoiGianTao]) VALUES (1, N'Áo thun', N'ao-thun', N'Áo thun nam nữ các loại', 1, 1, CAST(N'2026-02-24T20:31:55.960' AS DateTime))
INSERT [dbo].[DanhMuc] ([Id], [TenDanhMuc], [DuongDan], [MoTa], [ThuTuHienThi], [DangHoatDong], [ThoiGianTao]) VALUES (2, N'Áo polo', N'ao-polo', N'Áo polo cổ bẻ thời trang', 2, 1, CAST(N'2026-02-24T20:31:55.960' AS DateTime))
INSERT [dbo].[DanhMuc] ([Id], [TenDanhMuc], [DuongDan], [MoTa], [ThuTuHienThi], [DangHoatDong], [ThoiGianTao]) VALUES (11, N'Quần Jean', N'quan-jean', N'Quần Jean nam nữ các loại', 0, 1, CAST(N'2026-04-17T22:19:37.953' AS DateTime))
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHang] ON 

SET IDENTITY_INSERT [dbo].[DonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[GioHang] ON 

INSERT [dbo].[GioHang] ([Id], [NguoiDungId], [ThoiGianTao], [ThoiGianCapNhat]) VALUES (5, 1, CAST(N'2026-02-25T16:33:32.477' AS DateTime), NULL)
INSERT [dbo].[GioHang] ([Id], [NguoiDungId], [ThoiGianTao], [ThoiGianCapNhat]) VALUES (11, 2, CAST(N'2026-03-20T19:52:20.870' AS DateTime), NULL)
INSERT [dbo].[GioHang] ([Id], [NguoiDungId], [ThoiGianTao], [ThoiGianCapNhat]) VALUES (12, 14, CAST(N'2026-03-20T21:00:56.317' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[GioHang] OFF
GO
SET IDENTITY_INSERT [dbo].[GioHangChiTiet] ON 

INSERT [dbo].[GioHangChiTiet] ([Id], [GioHangId], [BienTheId], [SoLuong], [DonGia], [ThoiGianTao], [ThoiGianCapNhat]) VALUES (37, 13, 77, 1, CAST(119000.00 AS Decimal(18, 2)), CAST(N'2026-03-22T22:08:41.320' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[GioHangChiTiet] OFF
GO
SET IDENTITY_INSERT [dbo].[HinhAnhBienThe] ON 

INSERT [dbo].[HinhAnhBienThe] ([Id], [BienTheId], [DuongDan], [LaAnhChinh], [ThuTu], [MoTa], [ThoiGianTao]) VALUES (38, 61, N'/uploads/images/e5227587-fc29-4800-a19b-0dc99891d733_4.webp', 1, 0, N'4.webp', CAST(N'2026-03-20T20:59:46.810' AS DateTime))
INSERT [dbo].[HinhAnhBienThe] ([Id], [BienTheId], [DuongDan], [LaAnhChinh], [ThuTu], [MoTa], [ThoiGianTao]) VALUES (39, 62, N'/uploads/images/01ca09ff-4f3c-4ac4-85eb-636ce5693704_4.webp', 1, 0, N'4.webp', CAST(N'2026-03-20T20:59:49.667' AS DateTime))
INSERT [dbo].[HinhAnhBienThe] ([Id], [BienTheId], [DuongDan], [LaAnhChinh], [ThuTu], [MoTa], [ThoiGianTao]) VALUES (40, 64, N'/uploads/images/e0fb5171-bf5c-4ca8-86a3-b76947203829_5.webp', 1, 0, N'5.webp', CAST(N'2026-03-20T21:18:58.827' AS DateTime))
SET IDENTITY_INSERT [dbo].[HinhAnhBienThe] OFF
GO
SET IDENTITY_INSERT [dbo].[KhuyenMai] ON 

INSERT [dbo].[KhuyenMai] ([Id], [MaKhuyenMai], [TenKhuyenMai], [MoTa], [LoaiGiam], [GiaTriGiam], [DonHangToiThieu], [GiaTriToiDa], [SoLuongToiDa], [SoLuongDaDung], [NgayBatDau], [NgayKetThuc], [TrangThaiKhuyenMai], [ThoiGianTao], [ThoiGianCapNhat]) VALUES (2, N'SALE50K', N'Giảm 50.000đ', N'Giảm 50k đơn từ 499k', N'SO_TIEN', CAST(50000.00 AS Decimal(18, 2)), CAST(499000.00 AS Decimal(18, 2)), NULL, 200, 8, CAST(N'2026-02-24T20:31:56.073' AS DateTime), CAST(N'2026-03-26T20:31:56.073' AS DateTime), N'DANG_HOAT_DONG', CAST(N'2026-02-24T20:31:56.073' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[KhuyenMai] OFF
GO
SET IDENTITY_INSERT [dbo].[KichThuoc] ON 

INSERT [dbo].[KichThuoc] ([Id], [TenKichThuoc], [ThuTu]) VALUES (1, N'XS', 1)
INSERT [dbo].[KichThuoc] ([Id], [TenKichThuoc], [ThuTu]) VALUES (2, N'S', 2)
INSERT [dbo].[KichThuoc] ([Id], [TenKichThuoc], [ThuTu]) VALUES (3, N'M', 3)
SET IDENTITY_INSERT [dbo].[KichThuoc] OFF
GO
SET IDENTITY_INSERT [dbo].[LichSuTrangThaiDon] ON 

INSERT [dbo].[LichSuTrangThaiDon] ([Id], [DonHangId], [TrangThaiCu], [TrangThaiMoi], [GhiChu], [NguoiThayDoiId], [ThoiGian]) VALUES (8, 3, NULL, N'HOAN_THANH', N'Bán tại quầy - tiền mặt', 2, CAST(N'2026-02-17T20:31:56.113' AS DateTime))
INSERT [dbo].[LichSuTrangThaiDon] ([Id], [DonHangId], [TrangThaiCu], [TrangThaiMoi], [GhiChu], [NguoiThayDoiId], [ThoiGian]) VALUES (90, 25, NULL, N'CHO_THANH_TOAN', N'Đặt hàng thành công', 14, CAST(N'2026-03-20T21:02:10.067' AS DateTime))
INSERT [dbo].[LichSuTrangThaiDon] ([Id], [DonHangId], [TrangThaiCu], [TrangThaiMoi], [GhiChu], [NguoiThayDoiId], [ThoiGian]) VALUES (93, 25, N'CHO_THANH_TOAN', N'DA_HUY', N'Tự động hủy - quá hạn thanh toán VNPay', NULL, CAST(N'2026-03-20T21:17:14.587' AS DateTime))
SET IDENTITY_INSERT [dbo].[LichSuTrangThaiDon] OFF
GO
SET IDENTITY_INSERT [dbo].[MauSac] ON 

INSERT [dbo].[MauSac] ([Id], [TenMauSac], [MaHex], [MoTa]) VALUES (1, N'Đen', N'#212121', N'Đen cơ bản nhiều')
INSERT [dbo].[MauSac] ([Id], [TenMauSac], [MaHex], [MoTa]) VALUES (2, N'Trắng', N'#FFFFFF', N'Trắng tinh')
INSERT [dbo].[MauSac] ([Id], [TenMauSac], [MaHex], [MoTa]) VALUES (3, N'Xanh navy', N'#1A237E', N'Xanh đậm navy')
SET IDENTITY_INSERT [dbo].[MauSac] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([Id], [TenDangNhap], [Email], [MatKhauMaHoa], [HoTen], [SoDienThoai], [NgaySinh], [GioiTinh], [AnhDaiDien], [VaiTroId], [TrangThai], [LanDangNhapCuoi], [ThoiGianTao], [ThoiGianCapNhat], [DangHoatDong], [MaDatLaiMatKhau], [LanDoiMatKhauCuoi], [ThoiGianHetHanDatLaiMK]) VALUES (1, N'admin', N'admin@certainshop.vn', N'$2b$10$7YYqVUoU7uM28tE5yiLLjO6WEIWDN3CjDCf68TFv8lRr1Qp9To1KO', N'Quản trị viên', N'0901000001', NULL, 1, NULL, 1, N'HOAT_DONG', NULL, CAST(N'2026-02-24T20:31:55.933' AS DateTime), NULL, 1, NULL, NULL, NULL)
INSERT [dbo].[NguoiDung] ([Id], [TenDangNhap], [Email], [MatKhauMaHoa], [HoTen], [SoDienThoai], [NgaySinh], [GioiTinh], [AnhDaiDien], [VaiTroId], [TrangThai], [LanDangNhapCuoi], [ThoiGianTao], [ThoiGianCapNhat], [DangHoatDong], [MaDatLaiMatKhau], [LanDoiMatKhauCuoi], [ThoiGianHetHanDatLaiMK]) VALUES (2, N'nhanvien01', N'nv01@certainshop.vn', N'$2b$10$7YYqVUoU7uM28tE5yiLLjO6WEIWDN3CjDCf68TFv8lRr1Qp9To1KO', N'Hồ Hải Nam', N'0901000002', NULL, NULL, NULL, 2, N'HOAT_DONG', NULL, CAST(N'2026-02-24T20:31:55.933' AS DateTime), CAST(N'2026-03-22T21:31:54.357' AS DateTime), 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([Id], [MaSanPham], [TenSanPham], [MoTa], [GiaGoc], [GiaBan], [DanhMucId], [ThuongHieuId], [AnhChinh], [DuongDan], [TrangThaiSanPham], [ThoiGianTao], [ThoiGianCapNhat], [TrangThai]) VALUES (2, N'SP002', N'Áo thun Certain Graphic', N'Áo thun in hình graphic bold.', CAST(349000.00 AS Decimal(18, 2)), CAST(319000.00 AS Decimal(18, 2)), 1, 1, N'https://images.unsplash.com/photo-1503342217505-b0a15ec3261c?w=500&h=500&fit=crop', N'ao-thun-certain-graphic', N'NGUNG_BAN', CAST(N'2026-02-24T20:31:56.003' AS DateTime), CAST(N'2026-02-28T10:27:21.863' AS DateTime), 0)
INSERT [dbo].[SanPham] ([Id], [MaSanPham], [TenSanPham], [MoTa], [GiaGoc], [GiaBan], [DanhMucId], [ThuongHieuId], [AnhChinh], [DuongDan], [TrangThaiSanPham], [ThoiGianTao], [ThoiGianCapNhat], [TrangThai]) VALUES (3, N'SP003', N'Áo polo Certain Classic', N'Áo polo cổ bẻ sang trọng.', CAST(450000.00 AS Decimal(18, 2)), CAST(399000.00 AS Decimal(18, 2)), 2, 1, N'https://images.unsplash.com/photo-1625910513413-5fc45e80fd05?w=500&h=500&fit=crop', N'ao-polo-certain-classic', N'NGUNG_BAN', CAST(N'2026-02-24T20:31:56.003' AS DateTime), CAST(N'2026-02-28T10:27:23.687' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[ThuongHieu] ON 

INSERT [dbo].[ThuongHieu] ([Id], [TenThuongHieu], [MoTa], [TrangThai], [ThoiGianTao]) VALUES (1, N'Certain', N'Thương hiệu in-house', 1, CAST(N'2026-02-24T20:31:55.963' AS DateTime))
INSERT [dbo].[ThuongHieu] ([Id], [TenThuongHieu], [MoTa], [TrangThai], [ThoiGianTao]) VALUES (2, N'Nike', N'Thương hiệu thể thao Mỹ', 1, CAST(N'2026-02-24T20:31:55.963' AS DateTime))
INSERT [dbo].[ThuongHieu] ([Id], [TenThuongHieu], [MoTa], [TrangThai], [ThoiGianTao]) VALUES (3, N'Adidas', N'Thương hiệu thể thao Đức', 1, CAST(N'2026-02-24T20:31:55.963' AS DateTime))
SET IDENTITY_INSERT [dbo].[ThuongHieu] OFF
GO
SET IDENTITY_INSERT [dbo].[VaiTro] ON 

INSERT [dbo].[VaiTro] ([Id], [TenVaiTro], [QuyenHan]) VALUES (1, N'ADMIN', NULL)
INSERT [dbo].[VaiTro] ([Id], [TenVaiTro], [QuyenHan]) VALUES (2, N'NHAN_VIEN', NULL)
INSERT [dbo].[VaiTro] ([Id], [TenVaiTro], [QuyenHan]) VALUES (3, N'KHACH_HANG', NULL)
SET IDENTITY_INSERT [dbo].[VaiTro] OFF
GO
SET IDENTITY_INSERT [dbo].[Voucher] ON 

INSERT [dbo].[Voucher] ([Id], [MaVoucher], [MoTa], [TrangThai], [NgayBatDau], [NgayKetThuc], [GiaTriToiThieu], [LoaiGiam], [GiaTriGiam], [GiaTriGiamToiDa], [SoLuongSuDung], [SoLuongToiDa], [ThoiGianTao], [ThoiGianCapNhat]) VALUES (2, N'FLASHSALE', N'Chương trình Năm mới 2026 - Giảm 12%', 1, CAST(N'2026-02-21T00:00:00.000' AS DateTime), CAST(N'2026-02-28T23:59:59.000' AS DateTime), CAST(100000.00 AS Decimal(18, 2)), N'PERCENT', CAST(15.00 AS Decimal(18, 2)), CAST(30000.00 AS Decimal(18, 2)), 0, 100, CAST(N'2026-02-27T23:46:27.763' AS DateTime), CAST(N'2026-02-28T11:55:38.897' AS DateTime))
INSERT [dbo].[Voucher] ([Id], [MaVoucher], [MoTa], [TrangThai], [NgayBatDau], [NgayKetThuc], [GiaTriToiThieu], [LoaiGiam], [GiaTriGiam], [GiaTriGiamToiDa], [SoLuongSuDung], [SoLuongToiDa], [ThoiGianTao], [ThoiGianCapNhat]) VALUES (3, N'BIRTHDAY50K', N'Quà sinh nhật - Giảm 50.000d', 1, CAST(N'2025-12-30T00:00:00.000' AS DateTime), CAST(N'2026-12-31T23:59:59.000' AS DateTime), CAST(0.00 AS Decimal(18, 2)), N'FIXED', CAST(50000.00 AS Decimal(18, 2)), CAST(50000.00 AS Decimal(18, 2)), 0, 1005, CAST(N'2026-02-27T23:46:27.763' AS DateTime), CAST(N'2026-02-28T00:01:51.840' AS DateTime))
SET IDENTITY_INSERT [dbo].[Voucher] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DonHang__129584AC9DCCC9C6]    Script Date: 17-Apr-26 10:41:04 PM ******/
ALTER TABLE [dbo].[DonHang] ADD UNIQUE NONCLUSTERED 
(
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__GioHang__C4BBA4BC336FAE90]    Script Date: 17-Apr-26 10:41:04 PM ******/
ALTER TABLE [dbo].[GioHang] ADD UNIQUE NONCLUSTERED 
(
	[NguoiDungId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UK1wgot3ffx6wdi1fh2osxdwfya]    Script Date: 17-Apr-26 10:41:04 PM ******/
ALTER TABLE [dbo].[GioHangChiTiet] ADD  CONSTRAINT [UK1wgot3ffx6wdi1fh2osxdwfya] UNIQUE NONCLUSTERED 
(
	[GioHangId] ASC,
	[BienTheId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_GioHang_BienThe]    Script Date: 17-Apr-26 10:41:04 PM ******/
ALTER TABLE [dbo].[GioHangChiTiet] ADD  CONSTRAINT [UQ_GioHang_BienThe] UNIQUE NONCLUSTERED 
(
	[GioHangId] ASC,
	[BienTheId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhuyenMa__6F56B3BC8F767CB9]    Script Date: 17-Apr-26 10:41:04 PM ******/
ALTER TABLE [dbo].[KhuyenMai] ADD UNIQUE NONCLUSTERED 
(
	[MaKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiDun__55F68FC0BB3B9047]    Script Date: 17-Apr-26 10:41:04 PM ******/
ALTER TABLE [dbo].[NguoiDung] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiDun__A9D1053414BF0355]    Script Date: 17-Apr-26 10:41:04 PM ******/
ALTER TABLE [dbo].[NguoiDung] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__VaiTro__1DA55814B2EFC678]    Script Date: 17-Apr-26 10:41:04 PM ******/
ALTER TABLE [dbo].[VaiTro] ADD UNIQUE NONCLUSTERED 
(
	[TenVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Voucher__0AAC5B1019717EB3]    Script Date: 17-Apr-26 10:41:04 PM ******/
ALTER TABLE [dbo].[Voucher] ADD UNIQUE NONCLUSTERED 
(
	[MaVoucher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Voucher_MaVoucher]    Script Date: 17-Apr-26 10:41:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_Voucher_MaVoucher] ON [dbo].[Voucher]
(
	[MaVoucher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Voucher_NgayHoatDong]    Script Date: 17-Apr-26 10:41:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_Voucher_NgayHoatDong] ON [dbo].[Voucher]
(
	[NgayBatDau] ASC,
	[NgayKetThuc] ASC,
	[TrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BienThe] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[BienThe] ADD  DEFAULT ((0)) FOR [MacDinh]
GO
ALTER TABLE [dbo].[BienThe] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[BienThe] ADD  DEFAULT (getdate()) FOR [ThoiGianTao]
GO
ALTER TABLE [dbo].[ChiTietDonHang] ADD  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[DanhGia] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[DanhGia] ADD  DEFAULT (getdate()) FOR [ThoiGianTao]
GO
ALTER TABLE [dbo].[DanhMuc] ADD  DEFAULT ((0)) FOR [ThuTuHienThi]
GO
ALTER TABLE [dbo].[DanhMuc] ADD  DEFAULT ((1)) FOR [DangHoatDong]
GO
ALTER TABLE [dbo].[DanhMuc] ADD  DEFAULT (getdate()) FOR [ThoiGianTao]
GO
ALTER TABLE [dbo].[DiaChiNguoiDung] ADD  DEFAULT ((0)) FOR [LaMacDinh]
GO
ALTER TABLE [dbo].[DiaChiNguoiDung] ADD  DEFAULT (getdate()) FOR [ThoiGianTao]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT ('CHO_XAC_NHAN') FOR [TrangThaiDonHang]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT ((0)) FOR [SoTienGiamGia]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT ((0)) FOR [PhiVanChuyen]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT ((0)) FOR [TongTienThanhToan]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT ((0)) FOR [DaThanhToan]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT (getdate()) FOR [ThoiGianTao]
GO
ALTER TABLE [dbo].[GioHang] ADD  DEFAULT (getdate()) FOR [ThoiGianTao]
GO
ALTER TABLE [dbo].[GioHangChiTiet] ADD  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[GioHangChiTiet] ADD  DEFAULT (getdate()) FOR [ThoiGianTao]
GO
ALTER TABLE [dbo].[HinhAnhBienThe] ADD  DEFAULT ((0)) FOR [LaAnhChinh]
GO
ALTER TABLE [dbo].[HinhAnhBienThe] ADD  DEFAULT ((0)) FOR [ThuTu]
GO
ALTER TABLE [dbo].[HinhAnhBienThe] ADD  DEFAULT (getdate()) FOR [ThoiGianTao]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT ('PHAN_TRAM') FOR [LoaiGiam]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT ((0)) FOR [DonHangToiThieu]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT ((0)) FOR [SoLuongDaDung]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT ('DANG_HOAT_DONG') FOR [TrangThaiKhuyenMai]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT (getdate()) FOR [ThoiGianTao]
GO
ALTER TABLE [dbo].[KichThuoc] ADD  DEFAULT ((0)) FOR [ThuTu]
GO
ALTER TABLE [dbo].[LichSuTrangThaiDon] ADD  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT ('HOAT_DONG') FOR [TrangThai]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT (getdate()) FOR [ThoiGianTao]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT ((1)) FOR [DangHoatDong]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ('DANG_BAN') FOR [TrangThaiSanPham]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT (getdate()) FOR [ThoiGianTao]
GO
ALTER TABLE [dbo].[ThuongHieu] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[ThuongHieu] ADD  DEFAULT (getdate()) FOR [ThoiGianTao]
GO
ALTER TABLE [dbo].[Voucher] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[Voucher] ADD  DEFAULT ((0)) FOR [SoLuongSuDung]
GO
ALTER TABLE [dbo].[Voucher] ADD  DEFAULT (getdate()) FOR [ThoiGianTao]
GO
ALTER TABLE [dbo].[Voucher] ADD  DEFAULT (getdate()) FOR [ThoiGianCapNhat]
GO
ALTER TABLE [dbo].[BienThe]  WITH CHECK ADD  CONSTRAINT [FK_BienThe_ChatLieu] FOREIGN KEY([ChatLieuId])
REFERENCES [dbo].[ChatLieu] ([Id])
GO
ALTER TABLE [dbo].[BienThe] CHECK CONSTRAINT [FK_BienThe_ChatLieu]
GO
ALTER TABLE [dbo].[BienThe]  WITH CHECK ADD  CONSTRAINT [FK_BienThe_KichThuoc] FOREIGN KEY([KichThuocId])
REFERENCES [dbo].[KichThuoc] ([Id])
GO
ALTER TABLE [dbo].[BienThe] CHECK CONSTRAINT [FK_BienThe_KichThuoc]
GO
ALTER TABLE [dbo].[BienThe]  WITH CHECK ADD  CONSTRAINT [FK_BienThe_MauSac] FOREIGN KEY([MauSacId])
REFERENCES [dbo].[MauSac] ([Id])
GO
ALTER TABLE [dbo].[BienThe] CHECK CONSTRAINT [FK_BienThe_MauSac]
GO
ALTER TABLE [dbo].[BienThe]  WITH CHECK ADD  CONSTRAINT [FK_BienThe_SanPham] FOREIGN KEY([SanPhamId])
REFERENCES [dbo].[SanPham] ([Id])
GO
ALTER TABLE [dbo].[BienThe] CHECK CONSTRAINT [FK_BienThe_SanPham]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_CTDH_BienThe] FOREIGN KEY([BienTheId])
REFERENCES [dbo].[BienThe] ([Id])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_CTDH_BienThe]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_CTDH_DonHang] FOREIGN KEY([DonHangId])
REFERENCES [dbo].[DonHang] ([Id])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_CTDH_DonHang]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_CTDonHang] FOREIGN KEY([ChiTietDonHangId])
REFERENCES [dbo].[ChiTietDonHang] ([Id])
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [FK_DanhGia_CTDonHang]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_NguoiDung] FOREIGN KEY([NguoiDungId])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [FK_DanhGia_NguoiDung]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_SanPham] FOREIGN KEY([SanPhamId])
REFERENCES [dbo].[SanPham] ([Id])
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [FK_DanhGia_SanPham]
GO
ALTER TABLE [dbo].[DiaChiNguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_DiaChi_NguoiDung] FOREIGN KEY([NguoiDungId])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[DiaChiNguoiDung] CHECK CONSTRAINT [FK_DiaChi_NguoiDung]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_KhuyenMai] FOREIGN KEY([KhuyenMaiId])
REFERENCES [dbo].[KhuyenMai] ([Id])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_KhuyenMai]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_NguoiDung] FOREIGN KEY([NguoiDungId])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_NguoiDung]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_NhanVien] FOREIGN KEY([NhanVienId])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_NhanVien]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_Voucher] FOREIGN KEY([VoucherId])
REFERENCES [dbo].[Voucher] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_Voucher]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_NguoiDung] FOREIGN KEY([NguoiDungId])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_NguoiDung]
GO
ALTER TABLE [dbo].[GioHangChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_GHCT_BienThe] FOREIGN KEY([BienTheId])
REFERENCES [dbo].[BienThe] ([Id])
GO
ALTER TABLE [dbo].[GioHangChiTiet] CHECK CONSTRAINT [FK_GHCT_BienThe]
GO
ALTER TABLE [dbo].[GioHangChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_GHCT_GioHang] FOREIGN KEY([GioHangId])
REFERENCES [dbo].[GioHang] ([Id])
GO
ALTER TABLE [dbo].[GioHangChiTiet] CHECK CONSTRAINT [FK_GHCT_GioHang]
GO
ALTER TABLE [dbo].[HinhAnhBienThe]  WITH CHECK ADD  CONSTRAINT [FK_HinhAnh_BienThe] FOREIGN KEY([BienTheId])
REFERENCES [dbo].[BienThe] ([Id])
GO
ALTER TABLE [dbo].[HinhAnhBienThe] CHECK CONSTRAINT [FK_HinhAnh_BienThe]
GO
ALTER TABLE [dbo].[LichSuTrangThaiDon]  WITH CHECK ADD  CONSTRAINT [FK_LSTD_DonHang] FOREIGN KEY([DonHangId])
REFERENCES [dbo].[DonHang] ([Id])
GO
ALTER TABLE [dbo].[LichSuTrangThaiDon] CHECK CONSTRAINT [FK_LSTD_DonHang]
GO
ALTER TABLE [dbo].[LichSuTrangThaiDon]  WITH CHECK ADD  CONSTRAINT [FK_LSTD_NguoiDung] FOREIGN KEY([NguoiThayDoiId])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[LichSuTrangThaiDon] CHECK CONSTRAINT [FK_LSTD_NguoiDung]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDung_VaiTro] FOREIGN KEY([VaiTroId])
REFERENCES [dbo].[VaiTro] ([Id])
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [FK_NguoiDung_VaiTro]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_DanhMuc] FOREIGN KEY([DanhMucId])
REFERENCES [dbo].[DanhMuc] ([Id])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_DanhMuc]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_ThuongHieu] FOREIGN KEY([ThuongHieuId])
REFERENCES [dbo].[ThuongHieu] ([Id])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_ThuongHieu]
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD  CONSTRAINT [FK_ThanhToan_DonHang] FOREIGN KEY([DonHangId])
REFERENCES [dbo].[DonHang] ([Id])
GO
ALTER TABLE [dbo].[ThanhToan] CHECK CONSTRAINT [FK_ThanhToan_DonHang]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD CHECK  (([DiemDanhGia]>=(1) AND [DiemDanhGia]<=(5)))
GO
USE [master]
GO
